<div class="jumbotron py-4 bg-light border-5 border-bottom border-warning">
    <div class="container">
      <h1 class="display-3">C'est la rouille?<span class='yellow'>...</span> </h1>
        <p>Ici tu trouveras de quoi t'occuper! Seul ou avec tes potes!</p>
        <p>Tu peux également réunir du monde en créant toi meme ton évenement!</p>
        <p><a class="btn btn-outline-warning btn-lg" href='<%=new_event_path%>' role="button">On y va!</a></p>
  </div>
</div>

<div class="container py-3  ">
  
  <div class="row">
    <%@events.each do |event|%>
      <div class="col-md-4 p-5">
        <h2><%=event.title%></h2>
        <p><%=event.description%></p> 
        <p><%=event.start_date.to_date%>
        <p><a class="btn btn-outline-warning" href=<%=event_path(event.id)%> role="button">Détails »</a></p>
      </div>
    <%end%>
  </div>  
  <hr>
</div>
